.headerContainer {
    height: 6rem;
    background-color: #141a29;
}

.headerContent {
    max-width: 1120px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
        width: 160px;
        height: auto;

        @media (max-width: 414px) {
            width: 85px;
        }
    }

    nav {
        margin-left: 5rem;
        height: 5rem;

        @media (max-width: 414px) {
            margin-left: 0;
        }

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            line-height: 5rem;
            color: #FFF;

            @media (max-width: 414px) {
                display: inline;
            }

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                border-bottom: 2px solid #FF8800;
            }
        }
    }

    button {
        margin-left: auto;
    }
}